<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <title>Kalimantan tengah</title>
        <link rel="stylesheet" type="text/css" href="css/style.css" />
        <meta name="viewport" content="width=device-width" />
        <meta name="viewport" content="width=320" />
        <meta name="viewport" content="initial-scale=1" />
        <meta name="viewport" content="maximum-scale=1" />
        <meta name="viewport" content="user-scalable=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
    </head>
    <div id="container">
        <div id="header">
            <div class="header-top">
                <a href="#">google translate</a><a href="#">RSS Feed</a></div>
            <div class="header-midle">
                <div class="logo"><img src="images/logo.png" /></div>
                <div class="title">
                    <h3>kalteng.go.id</h3>
                    <h4>Situs resmi Pemerintah Provinsi Kalimantan Tengah</h4>
                </div>
                <div class="connect"><p>Connect With Us</p>
                    <div class="social">
                        <a href="#" target="_blank" title="Visit us on Facebook!"><img src="Images/Facebook.png" alt="Facebook"></a>

                        <a href="#" target="_blank" title="Visit us on Twitter!"><img src="Images/Twitter.png" alt="Twitter"></a>

                        <a href="#" target="_blank" title="Visit us on LinkedIn!"><img src="Images/LinkedIn.png" alt="LinkedIn"></a>

                        <a href="#" rel="publisher" target="_blank" title="Visit us on Google+!"><img src="Images/Google.png" alt="Google"></a>

                        <a href="#" target="_blank" title="Visit us on Tumblr!"><img src="Images/Tumblr.png" alt="Tumblr"></a>		
                    </div>
                </div>
                <div id="search" role="search">
                    <form action="" id="searchform">
                        <div id="simpleSearch">
                            <input autocomplete="off" tabindex="1" name="search" placeholder="Search"  title="Search Wikipedia [alt-shift-f]" accesskey="f" id="searchInput">
                            </input><button type="submit" name="button" title="Search Wikipedia for this text" id="searchButton">GO</button>
                            <input name="title" value="Special:Search" type="hidden">
                        </div>
                    </form>
                </div>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="index2.html">HOME</a></li>
                    <li><a href="profile.html">PROFILE</a></li>
                    <li><a href="instansi.html">INSTANSI</a></li>
                    <li><a href="layanan.html">LAYANAN</a></li>
                    <li><a href="archive.html">ARCHIVE</a></li>
                    <li><a href="bukutamu.html">BUKU TAMU</a></li>
                    <li><a href="kontak.html">KONTAK</a></li>
                </ul>
            </div>
        </div>
        <div id="slide"><img src="images/slide.jpg" /></div>
        <div id="content">
            <div class="left-content">
                <div class="subdomain">
                    <h4>Subdomain</h4>
                    <div>
                        <a href="#"><img src="images/subdomain1.jpg"/></a>
                        <a href="#"><img src="images/subdomain2.jpg"/></a>
                        <a href="#"><img src="images/subdomain3.jpg"/></a>
                        <a href="#"><img src="images/subdomain4.jpg"/></a>
                    </div>
                </div>
                <div class="subdomain">
                    <h4>Kebijakan</h4>
                    <div>
                        <a href="#"><img src="images/subdomain1.jpg"/></a>
                        <a href="#"><img src="images/subdomain2.jpg"/></a>
                        <a href="#"><img src="images/subdomain3.jpg"/></a>
                        <a href="#"><img src="images/subdomain4.jpg"/></a>
                    </div>
                </div>
            </div>
            <div class="top-content">
                <div class="sub-top-content">
                    <h4>Berita Utama</h4>
                    <div>
                        <h5>Kegiatan Dinas Kelautan & Perikanan</h5>
                        <span class="span">Minggu, 30 Juni 2013</span>
                        <img src="images/berita1.jpg"/>
                        <p>Gemarikan adalah kegiatan yang dilaksanakan melalui berbagai kegiatan promosi dan kampanye yang melibatkan seluruh stakeholder terkait di wilayah provinsi Kalimantan Tengah untuk mendorong peningkatan konsumsi ikan</p>
                    </div>
                    <div>
                        <h5>Kegiatan Dinas Kelautan & Perikanan</h5>
                        <span class="span">Minggu, 30 Juni 2013</span>
                        <img src="images/berita1.jpg"/>
                        <p>Gemarikan adalah kegiatan yang dilaksanakan melalui berbagai kegiatan promosi dan kampanye yang melibatkan seluruh stakeholder terkait di wilayah provinsi Kalimantan Tengah untuk mendorong peningkatan konsumsi ikan</p>

                    </div>
                    <div>
                        <h5>Kegiatan Dinas Kelautan & Perikanan</h5>
                        <span class="span">Minggu, 30 Juni 2013</span>
                        <img src="images/berita1.jpg"/>
                        <p>Gemarikan adalah kegiatan yang dilaksanakan melalui berbagai kegiatan promosi dan kampanye yang melibatkan seluruh stakeholder terkait di wilayah provinsi Kalimantan Tengah untuk mendorong peningkatan konsumsi ikan</p>

                    </div>
                    <p class="no-hal"><a href="#">1</a><a href="#">2</a><a href="#">3</a><a href="#">4</a><a href="#">5</a></p>
                </div>
            </div>
            <div class="right-content">
                <h4>Aktualita Kalteng</h4>
                <div>
                    <h5>Kegiatan Dinas Kelautan & Perikanan</h5>
                    <span class="span">Minggu, 30 Juni 2013</span>
                    <img src="images/berita1.jpg"/>
                    <p>Gemarikan adalah kegiatan yang dilaksanakan melalui berbagai kegiatan promosi dan kampanye yang melibatkan seluruh stakeholder terkait di wilayah provinsi Kalimantan Tengah untuk mendorong peningkatan konsumsi ikan</p>
                    <span class="more">more</span>
                </div>
                <div>
                    <h5>Kegiatan Dinas Kelautan & Perikanan</h5>
                    <span class="span">Minggu, 30 Juni 2013</span>
                    <img src="images/berita1.jpg"/>
                    <p>Gemarikan adalah kegiatan yang dilaksanakan melalui berbagai kegiatan promosi dan kampanye yang melibatkan seluruh stakeholder terkait di wilayah provinsi Kalimantan Tengah untuk mendorong peningkatan konsumsi ikan</p>
                    <span class="more">more</span>
                </div>
            </div>
            <div class="bottom-content">
                <div class="sub-bottom-content-left">
                    <h4>Opini Publik</h4>
                    <div>
                    <a href="#"><p>Passing GradeTes CPNS 2012</p></a>
                        <a href="#"><p>Menyorot peran dan fungsi wakil kepala daerah dalam tata pemerintahan NKRI</p></a>
                        <a href="#"><p>Passing GradeTes CPNS 2012</p></a>
                        <a href="#"><p>Membangkitkan jiwa wirausaha di Kalteng</p></a>
                        <a href="#"><p>Kamus Bahasa Dayak Ma'anyan</p></a>
                    <span class="more">more</span>
                    </div>
                </div>
                <div class="sub-bottom-content-midle">
                    <h4>Opini Publik</h4>
                    <div>
                        <a href="#"><p>Passing GradeTes CPNS 2012</p></a>
                        <a href="#"><p>Menyorot peran dan fungsi wakil kepala daerah dalam tata pemerintahan NKRI</p></a>
                        <a href="#"><p>Passing GradeTes CPNS 2012</p></a>
                        <a href="#"><p>Membangkitkan jiwa wirausaha di Kalteng</p></a>
                        <a href="#"><p>Kamus Bahasa Dayak Ma'anyan</p></a>
                    <span class="more">more</span>
                    </div>
                </div>
                <div class="sub-bottom-content-right">
                    <h4>Opini Publik</h4>
                    <div>
                    <a href="#"><p>Passing GradeTes CPNS 2012</p></a>
                        <a href="#"><p>Menyorot peran dan fungsi wakil kepala daerah dalam tata pemerintahan NKRI</p></a>
                        <a href="#"><p>Passing GradeTes CPNS 2012</p></a>
                        <a href="#"><p>Membangkitkan jiwa wirausaha di Kalteng</p></a>
                        <a href="#"><p>Kamus Bahasa Dayak Ma'anyan</p></a>
                    <span class="more">more</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <p>Hak Cipta</p>
            <p>Pemerintah Provinsi Kalimantan Tengah</p>
        </div>
    </div>
    <body>
    </body>
</html>
