<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Website Penerimaan Peserta Didik Baru (PPDB) 2020-20219 SMA Regina Pacis Surakarta">
    <meta name="author" content="Yayasan Winata Bhakti Solo">
    <link rel="icon" href="img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57.png">
    <title>PPDB SMA Regina Pacis Surakarta</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  
    <header class="bg-regina">
    	<!-- top bar -->
    	<div class="container-fluid top-bar bg-ursuline">
    	<div class="container">
        <div class="row">
          <div class="col">
          	<p class="text-white text-center text-md-left">PPDB SMA Regina Pacis Surakarta</p>
          </div>
        </div>
    	</div>
    	</div>
    	<div class="container px-0">
      <!-- fixed navbar -->
      <nav class="navbar navbar-expand-md navbar-dark bg-regina">
        <a class="navbar-brand" href="index.html"><img src="img/apple-touch-icon-57.png"/></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html">Beranda</a>
            </li>
            <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="javascript:void(0)" id="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Persyaratan</a>
							<div class="dropdown-menu" aria-labelledby="dropdown01">
								<a class="dropdown-item" href="#">Action</a>
								<a class="dropdown-item" href="#">Another action</a>
								<a class="dropdown-item" href="#">Something else here</a>
							</div>
						</li>
            <li class="nav-item active">
              <a class="nav-link" href="prosedur.html">Prosedur Pendaftaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="daftar.html">Pendaftaran</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="login.html">Login</a>
            </li>
          </ul>
        </div>
      </nav>
    	</div>
    </header>
		
    <!-- page content -->
    <main role="main" class="container py-5">
    
<div class="tabs">
  <div class="tab-button-outer">
    <ul id="tab-button">
      <li><a href="#tab01"><small><strong>PENDAFTARAN</strong></small></a></li>
      <li><a href="#tab02"><small><strong>DAFTAR ULANG</strong></small></a></li>
    </ul>
  </div>

  <div id="tab01" class="tab-contents">
    <h3 class="text-center mt-4">Prosedur Pendaftaran</h3>
    <hr>
    <ol>
    	<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    	<li>Cras nec dignissim elit. Pellentesque nec risus at neque suscipit vestibulum.</li>
    	<li>Nunc vitae auctor enim. Donec sagittis augue porta urna luctus facilisis. Aenean tincidunt volutpat lectus sit amet convallis.</li>
    	<li>Maecenas blandit enim at elit feugiat porttitor.</li>
    	<li>Suspendisse ex nulla, tincidunt at tristique ac, dictum in ipsum.</li>
    	<li>Cras et porttitor leo. Integer sagittis ultrices enim et maximus. Vestibulum consequat aliquam commodo.</li>
    	<li>Donec aliquet non urna et laoreet. Proin feugiat eu sem eget ornare.</li>
    	<li>Aliquam dapibus blandit orci, ut auctor nulla volutpat in.</li>
    	<li>In non arcu sit amet orci porta feugiat nec nec est. Sed accumsan euismod ex a tempor.</li>
    	<li>Suspendisse in justo leo. Donec viverra, quam vitae hendrerit egestas, mauris nulla posuere nibh, lacinia maximus velit sem eu arcu.</li>
    	<li>Donec a ligula scelerisque, mattis purus sed, mattis lacus.</li>
    	<li>Pellentesque metus tortor, accumsan a justo sed, hendrerit auctor magna.</li>
    	<li>Vivamus eget risus placerat, mollis ipsum et, consequat nibh. Vestibulum vel ornare odio.</li>
    	<li>Donec fermentum, tellus at tincidunt efficitur, libero magna tristique nunc, id gravida nulla dolor sit amet nunc. Etiam id orci mattis, feugiat elit ac, hendrerit nisi.</li>
    	<li>Curabitur libero velit, dignissim sit amet ex nec, ultricies sagittis diam.</li>
    </ol>    
    <p class="small text-muted">Proin placerat dui at lacus tincidunt finibus sit amet sed ipsum. Etiam sollicitudin lacinia lorem vitae convallis. Suspendisse potenti. Donec vitae tincidunt est. Sed ipsum arcu, consectetur nec mattis vitae, dapibus sed enim.</p>
  </div>
  <div id="tab02" class="tab-contents">
    <h3 class="text-center mt-4">Daftar Ulang</h3>
    <hr>
    <h4>Siswa Diterima</h4>
    <p>Vestibulum porta enim at lacus viverra, eget fringilla est auctor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla volutpat viverra urna in euismod. Phasellus porta volutpat turpis, nec malesuada libero. Vestibulum imperdiet, urna sed auctor dictum, libero sem mollis lacus, sed commodo mi libero at purus. Aliquam accumsan ex vestibulum, laoreet ante in, dapibus ligula. Nunc sodales facilisis volutpat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aenean quis sapien convallis dolor porttitor aliquam eget nec est. Nullam turpis est, consectetur vel imperdiet sit amet, condimentum sagittis libero. Quisque fringilla pulvinar porta. Quisque id ipsum ligula. Integer lacus nunc, congue et posuere ut, ultricies sed elit. Etiam tristique urna eget purus elementum sollicitudin.</p>
    <h4>Siswa Cadangan</h4>
    <p>Aenean nisi sapien, ultricies vitae nunc sit amet, pellentesque interdum tortor. Sed ullamcorper augue sit amet nisi bibendum, ut tempus nisi sagittis. Quisque at lorem ligula. Duis finibus dolor id venenatis bibendum. Fusce nisl sapien, consequat ut hendrerit sed, interdum ut nibh. Pellentesque scelerisque massa eget velit pellentesque, non elementum justo varius. Sed turpis risus, faucibus a aliquet nec, faucibus sed magna. Ut diam felis, pretium non viverra eu, luctus vel urna.</p>
  </div>
</div>

    </main>
    
		<!-- footer -->
    <footer class="footer">
      <div class="container">
        <span class="text-white">&copy; Yayasan Winata Bhakti Solo 2020</span>
      </div>
    </footer>
    
    <!-- script -->
    <script src="js/jquery.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script> 
    
<script>
$(function() {
  var $tabButtonItem = $('#tab-button li'),
      $tabSelect = $('#tab-select'),
      $tabContents = $('.tab-contents'),
      activeClass = 'is-active';

  $tabButtonItem.first().addClass(activeClass);
  $tabContents.not(':first').hide();

  $tabButtonItem.find('a').on('click', function(e) {
    var target = $(this).attr('href');

    $tabButtonItem.removeClass(activeClass);
    $(this).parent().addClass(activeClass);
    $tabSelect.val(target);
    $tabContents.hide();
    $(target).show();
    e.preventDefault();
  });

  $tabSelect.on('change', function() {
    var target = $(this).val(),
        targetSelectNum = $(this).prop('selectedIndex');

    $tabButtonItem.removeClass(activeClass);
    $tabButtonItem.eq(targetSelectNum).addClass(activeClass);
    $tabContents.hide();
    $(target).show();
  });
});
</script>
    
  </body>
</html>